<form action="/parcels" method="post">
  <label for="length">Enter parcel length</label>
  <input id="length" name="length" type="text">
  <label for="height">Enter parcel height</label>
  <input id="height" name="height" type="text">
  <label for="width">Enter parcel width</label>
  <input id="width" name="width" type="text">
  <label for="weight">Enter parcel weight</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>
